<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/css-phaast@0.0.2/phaast.css">
    <script type="text/javascript" src="https://unpkg.com/css-phaast@0.0.2/phaast.js"></script>
    <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="./styles/code.css">
    <title>{{title}}</title>
</head>
<body>
    <nav class="nav-bar px-0">
        <section class="inner-container mw-80 px-1">
            <a class="main-item" href="/saas/phaast-css/">Ledger API</a>
            <ul class="menu-list -responsive">
            <li class="item">
                <a href="/saas/phaast-css/documentation/getting-started">Documentation</a>
            </li>
            <li class="item -mobile menu-container">
                <a class="menu-trigger">
                <i class="fas fa-bars icon -rounded -white -bg-primary"></i>
                </a>
                <ul class="menu -bordered -interactive">
                <li class="item">
                    <a href="/saas/phaast-css/documentation/getting-started">Documentation</a>
                    <h3><a href="{{{projectPackage.graphdoc.baseUrl}}}">GraphQL Schema</a></h3>
                </li>
                </ul>
            </li>
            </ul>
        </section>
    </nav>
    <main class="column-container -with-sidebar px-1 mw-80 mb-2" role="main">
        {{> nav}}
        {{> main}}
        <a class="scrolltop-button icon -white -medium -bg-primary fas fa-angle-up" style="display: block;"></a>
    </main>
    {{#projectPackage.graphdoc.ga}}
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{projectPackage.graphdoc.ga}}', 'auto');
        ga('send', 'pageview');

    </script>
    {{/projectPackage.graphdoc.ga}}
</body>