<aside class="markdown p-2">
    {{#documents}}
    {{#type}}<p>{{type.kind}}</p>{{/type}}
    <h1 >{{title}}</h1>
    {{{description}}}

    <h2 id="{{#slug}}{{title}}{{/slug}}">
        <a href="#{{#slug}}{{title}}{{/slug}}">
            <i class="fas fa-link"></i>
        </a>
        {{title}}
    </h2>
    <pre id="code" class="mb-2  language-graphql">
        <code class=" language-graphql">
            {{{description}}}
        </code>
    </pre>
    
    {{/documents}}
</aside>
