{{! Only navs varaible is defined: @example: navs: [ { title: String, items: [ { href: String, text: String } -- MORE ITEMS
--- ] } -- MORE NAVS -- ] }}
<aside class="sidebar pr-tablet-2">
    {{#navigations}}
        <ul class="dropdown -js-dropdown -primary show" style="height: auto;">
            <li class="item dropdown-handler -info">{{title}}</li>
            {{#items}}
                <li {{#isActive}}class="active-link item"{{/isActive}} title="{{text}}">
                    <a data-route="alerts" {{#isActive}}class="active-link"{{/isActive}} href="{{{href}}}" >
                        {{text}}
                    </a>
                </li>
            {{/items}}
        </ul>
    {{/navigations}}
</aside>
